<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
{{> ../includes/head TITLE=TITLE }}
<body>
  {{> ../includes/skipnav }}
  {{> ../includes/fsa-browser-upgrade }}
  {{> ../components/whiteout/whiteout }}

  {{#> header-block}}
  <header>
    {{> ../components/tophat/tophat }}
    {{> ../components/header-app/header-app }}
    {{> ../components/global-nav/global-nav
      NAV1_ACTIVE=NAV1_ACTIVE
      NAV2_ACTIVE=NAV2_ACTIVE
      NAV3_ACTIVE=NAV3_ACTIVE
      NAV4_ACTIVE=NAV4_ACTIVE
      NAV5_ACTIVE=NAV5_ACTIVE
      NAV6_ACTIVE=NAV6_ACTIVE
    }}
  </header>
  {{/header-block}}

  <main id="main-content" tabindex="-1">
  {{#> main-block}}
  <!-- BASE main-block -->
  {{/main-block}}
  </main>

  {{#> footer-block}}
  <footer>
    {{> ../components/footer/footer-topper }}
    {{> ../components/footer/footer-footer }}
    {{> ../components/footer/footer-screen-id }}
  </footer>
  {{/footer-block}}

  {{#> hidden-block}}
  <!-- BASE hidden-block -->
  {{/hidden-block}}

  {{#> scripts-block}}
  <!-- BASE scripts-block -->
  {{/scripts-block}}

</body>

</html>
