/* Project specific overrides/additions */

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1c768F;
$primary-invert: findColorInvert($primary);
$secondary: #032539;
$secondary-invert: findColorInvert($primary);
$orange: #FA991C;
$orange-invert: findColorInvert($primary);
$cream: #FBF3F2;
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($secondary, $secondary-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "orange": ($orange, $orange-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $secondary;
$link-invert: $secondary-invert;
$link-focus-border: $secondary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Project Specific components
//@import './components/fsa.date-picker.scss';
@import './responsive.scss';

@import './addStoryModal.scss';

.tag {
  margin: .2rem;
}